@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url("/fonts/noto-sans.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-surface-background: #303030;
    --color-surface-foreground: #ffffff;
    --size-1: 15px;
    --size-2: calc(var(--size-1) * 2);
    --size-3: calc(var(--size-1) * 3);
    --size-4: calc(var(--size-1) * 4);
    --size-5: calc(var(--size-1) * 5);
    --size-6: calc(var(--size-1) * 6);
    --size-7: calc(var(--size-1) * 7);
    --size-8: calc(var(--size-1) * 8);

    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    color: var(--color-foreground);
    background-color: var(--color-background);
}

body {
    margin: 0;
}

@media screen and (min-width: 425px) {
    html {
        --size-1: 20px;
    }
}
