.component {
    flex: 0 1 auto;
    width: 400px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    text-decoration: initial;
    user-select: none;
    color: var(--color-surface-foreground);
    background-color: var(--color-surface-background);
}

.name {
    height: inherit;
    padding: var(--size-1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
}

.company {
    top: 0;
    left: 0;
    right: 0;
    padding: var(--size-1);
    position: absolute;
    font-size: 0.8rem;
}

.description {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: var(--size-1);
}
