.component {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.component h1 {
    margin: 0 0 10px 0;
    font-size: 2rem;
    font-weight: 400;
}

.component em {
    font-style: normal;
}
