.component {
    height: var(--size-footer);
    padding: 0 var(--size-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}

.compoennt p {
    margin: 0;
}

.copyright {
    flex: 1;
}
