.component {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 var(--size-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: var(--color-background);
    font-size: 0.8rem;
    z-index: 1;
}

.component a {
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    color: inherit;
}

.component a:hover {
    opacity: 0.75;
}
